<div>
  <header class="header">
    <h1 class="header-title">Curso de Análise e Desenvolvimento de Sistemas</h1>
    <h3>
      <img src="assets/github.jpg" class="giticon" alt="...">
      /rubens-rangel
    </h3>
  
  </header>

<body>
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#contato">Contato</a>
  </div>
  


  <div class="container">
    <div class="content">
      <div class="image-container">        
        <div class="slideshow">
          <img class="slide" src="assets/curso_ads.webp" alt="Imagem do Curso">
          <img class="slide" src="assets/curso_ads2.webp" alt="Imagem do Curso">
          <img class="slide" src="assets/curso_ads3.webp" alt="Imagem do Curso">
        </div>
      </div>

      <div class="description">
        <h2>Análise e Desenvolvimento de Sistema</h2>
        <br>
        <p>O Curso de Análise e Desenvolvimento de Sistemas na Faculdade FAESA é perfeito para quem deseja se tornar um profissional de destaque na área de tecnologia da informação. Com uma abordagem abrangente e atualizada, nosso curso irá prepará-lo para trabalhar com desenvolvimento, análise e implementação de sistemas, fornecendo as habilidades e conhecimentos necessários para enfrentar os desafios do mercado de trabalho.</p>
<p>Nossos professores são altamente qualificados e experientes, garantindo uma educação de qualidade. A grade curricular abrange desde linguagens de programação até metodologias ágeis e segurança da informação. Além disso, você terá acesso a laboratórios modernos, recursos online de aprendizado e oportunidades de estágio em empresas parceiras, proporcionando uma experiência prática valiosa ao longo do curso.</p>
<p>Venha fazer parte do Curso de Análise e Desenvolvimento de Sistemas na Faculdade FAESA e prepare-se para se destacar no campo da tecnologia da informação. Junte-se a nós e impulsione sua carreira nesse emocionante setor digital.</p>
      </div>
      <br>
      <br>
      <br>

      <div class="contact-form">
        <h2>Entre em contato</h2>
        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
          <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" class="form-control" required [(ngModel)]="formData.name">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="formData.email">
          </div>
          <div class="form-group">
            <label for="phone">Telefone:</label>
            <input type="tel" id="phone" name="phone" class="form-control" required [(ngModel)]="formData.phone">
          </div>
          <div class="form-group">
            <label for="message">Mensagem:</label>
            <textarea id="message" name="message" class="form-control" required [(ngModel)]="formData.message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>

  <footer class="footer">
    <p class="footer-text">© 2023 - Curso de Análise e Desenvolvimento de Sistemas</p>
  </footer>
</body>
</div>